# Minecraft данные
data/
data-neoforge/world/
data-neoforge/config/
!data-neoforge/config/jvm_args.txt
data-neoforge/mods/
*.dat
*.dat_old
*.mca
session.lock

# IDE и редакторы
.vscode/
.idea/
*.swp
*.swo
*~

# Логи
*.log

# Операционные системы
.DS_Store
Thumbs.db
